DATABASE_URL=postgresql://youruser:yourpassword@db:5432/yourdbname
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdbname
SECRET_KEY=your-secret-key-here
ALGORITHM = "Algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES=30